<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <a href="/MyRecords">My Records</a>
        <a href="/" >Home </a>
        <form action="/AllCountries" method="POST">
        <button id="All">All Countries</button>
        </form>
  
    </header>

<main>
<div id="container">

<% data.forEach(ele => { %>
 <div class="cards">

<p>Country <%=ele.Country %> </p>
<p>total number of confirmed <%=ele.Cases %> </p>
<p>date <%=ele.Date %> </p>
 </div>
<% }) %>


</div>

</main>
    
</body>
</html>